Merge the customers.tsv and ordered_items.tsv files and answer the questions below using pandas and excel pivot table.

In [ ]:
import pandas as pd

#### Load dataframe

In [5]:
df_orders = pd.read_csv(r"https://raw.githubusercontent.com/MarcoCalbucci/DataAnalytics/main/Pandas/Exercises/Customers_merge/ordered_items.tsv", sep="\t")
df_orders.head()

   customerid   order_date        item  quantity   price
0       10330  30-Jun-1999  Pogo stick         1    28.0
1       10101  30-Jun-1999        Raft         1    58.0
2       10298  01-Jul-1999  Skateboard         1    33.0
3       10101  01-Jul-1999   Life Vest         4   125.0
4       10299  06-Jul-1999   Parachute         1  1250.0

In [6]:
# load dataframe
df_customers = pd.read_csv(r"https://raw.githubusercontent.com/MarcoCalbucci/DataAnalytics/main/Pandas/Exercises/Customers_merge/customers.tsv", sep="\t")
df_customers.head()

   customerid firstname lastname        city       state
0       10101      John     Gray      Lynden  Washington
1       10298     Leroy    Brown     Pinetop     Arizona
2       10299     Elroy   Keller  Snoqualmie  Washington
3       10315      Lisa    Jones     Oshkosh   Wisconsin
4       10325    Ginger  Schultz   Pocatello       Idaho

In [7]:
# df_orders
df_orders.info()
# df_orders.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  32 non-null     int64
 1   order_date  32 non-null     object
 2   item        32 non-null     object
 3   quantity    32 non-null     int64
 4   price       32 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.4+ KB

In [8]:
# df_customers
df_customers.info()
# df_customers.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerid  17 non-null     int64
 1   firstname   17 non-null     object
 2   lastname    17 non-null     object
 3   city        17 non-null     object
 4   state       17 non-null     object
dtypes: int64(1), object(4)
memory usage: 808.0+ bytes

#### Merge

In [ ]:
# OLAP
df = df_orders.merge(df_customers, on=['customerid'])
df

#### Save to csv

In [10]:
# save to csv
df.to_csv(r"merged.csv", sep = ",", index = False)

#### Exercises

##### Exercise 1 - Which items were bought in Oregon?

In [ ]:
# Esercizio 1
# Quali sono gli item acquistati da chi vive in Oregon?
df[df['state'] == 'Oregon'][['item', 'quantity']]
#list(df[df['state'] == 'Oregon']['item'].values)

In [ ]:
df[df['state'] == 'Oregon'][['item', 'quantity']].sort_values(by='quantity', ascending=False)

##### Exercise 2 - Which is the most popular item in Colorado?

In [15]:
# Esercizio 2
# Qual è l'item più popolare in Colorado?
df[df['state'] == 'Colorado'][['item', 'quantity']].groupby('item').sum()

           quantity
item
Pillow            1
Ski Poles         2
Tent              2
Umbrella          1

##### Exercise 3 - In which state have been registered more orders?

In [18]:
# Esercizio 3
# In quale stato sono stati registrati più ordini?
df.groupby(by=['state']).size()

state
Arizona           13
Colorado           5
Oregon             3
South Carolina     2
Washington         8
Wisconsin          1
dtype: int64